.loader-div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-info {
    width: 100%;
    height: 100vh;
    display: flex;
}

.product-info-container {
    width: 80%;
    height: 90%;
    /* background-color: red; */
    margin: auto;
    display: flex;
}

.product-img {
    width: 30%;
    height: 100%;
    position: relative;
    /* background-color: blue; */
}

.product-descr {
    width: 50%;
    height: 100%;
    position: relative;
}

.parent-div {
    width: 20%;
    height: 100%;
}

.addtocartdiv {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.109);
    margin-top: 90px;
    padding-top: 10px;
}

.flag-div {
    width: 100%;
    height: 30%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.109);
    margin-top: 30px;
    padding-top: 10px;
}

.single-img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    cursor: pointer;
}

.large-img {
    font-size: 20px;
    color: rgb(174, 168, 168);
    margin-top: 8px;
    margin-left: 105px;
}

.small-single-img {
    width: 60px;
    height: 60px;
    border: 1px solid orange;
    object-fit: cover;
    top: 10px;
    left: -80px;
    position: absolute;
}

.single-a {
    text-decoration: none;
    margin-top: 20px;
    margin-left: 20px;
    color: blue;
}

.h41 {
    font-weight: 400;
    margin-top: 40px;
    margin-left: 40px;
    position: relative;
}

.h41::before {
    content: "";
    width: 83%;
    border: 1px solid rgb(169, 165, 165);
    min-width: 65.2%;
    position: absolute;
    top: 50px;
    border-radius: 1px;
}

.h21 {
    margin-top: 50px;
    margin-left: 40px;
    position: relative;
}

.h21::before {
    content: "";
    width: 83%;
    border: 1px solid rgb(169, 165, 165);
    min-width: 65.2%;
    position: absolute;
    top: 50px;
    border-radius: 1px;
}

.flex-name {
    height: 30px;
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 40px;
}

.flex-name>p {
    color: rgb(169, 165, 165);
}

.flex-name>h2 {
    margin-left: 15px;
}

.flex-big {
    height: 100px;
    width: 80%;
    display: flex;
    /* align-items: center; */
    margin-left: 40px;
    margin-top: 40px;
}

.flex-big>p {
    color: rgb(169, 165, 165);
}

th,
td {

    /* Styling the border. */
    border: 1px solid rgb(169, 165, 165);
}

.orangline::before {
    content: "";
    width: 93%;
    border: 1px dotted orange;
    min-width: 65.2%;
    position: absolute;
    top: 150px;
}

.cart-p {
    width: 180px;
    position: absolute;
    height: 40px;
    color: gray;
    font-size: 20px;
    left: 65px;
    top: 330px;
    cursor: pointer;
    left: 25px;
    background-color: red;
    border: none;
    border-radius: 5px;
}

.cart-p:hover {
    opacity: .7;
    background-color: rgb(33, 201, 69);
    color: #fff;
}

.quti{
    width: 300px;
    height: 500px;
  
}
.quti1{
    width: 100%;
    height: 50%;
 
    border: 1px solid grey;
}

.quti1 img{
    width: 250px;
    height: 150px;
}
.quti1 button{
    width: 180px;
    margin-left: 40px;
    height: 30px;
    background-color: rgb(18, 221, 35);
    border: none;
}
.quti1 button :hover{
    box-shadow: 0px 0px 30px;
}



.quti2 {
    width: 100%;
    height: 50%;
    
    border: 1px solid grey;
}

